.POS_Container {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #cfcfcf;
    border-radius: 15px;
    opacity: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    margin-bottom: 20px;
}

.POS_text {
    background: #f8f8f8 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 90px;
    max-width: 170px;
    padding: 0 0 0 10px;
    min-width: 165px;
    text-align: center;
    white-space: break-spaces;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: left;
    font: normal normal medium 14px/15px Gotham;
    letter-spacing: 0px;
    font-family: medium !important;
    color: #000000;
}

.SF_text {
    background: #f8f8f8 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 90px;
    max-width: 170px;
    padding: 0 0 0 10px;
    min-width: 140px;
    text-align: center;
    white-space: break-spaces;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: left;
    font: normal normal medium 14px/15px Gotham;
    letter-spacing: 0px;
    color: #000000;
    font-family: medium !important;
}

.you-may-also-like {
    background: #f8f8f8 0% 0% no-repeat padding-box;
    opacity: 1;
    min-height: 200px;
    max-width: 170px;
    min-width: 165px;
    text-align: center;
    white-space: break-spaces;
    padding: 0 0 0 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: left;
    font: normal normal medium 14px/15px Gotham;
    letter-spacing: 0px;
    color: #000000;
    font-family: medium !important;
}

.POS_main_container {
    min-height: 80px;
    max-height: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.you-may-also-like-main-container {
    min-height: 80px;
    max-height: 200px;
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .POS_Container {
        flex-direction: column !important;
    }

    .POS_text {
        height: 45px;
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }

    .SF_text {
        height: 45px;
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }

    .pos_btn {
        margin: -5px 0px 0px 10px;

    }

    .you-may-also-like {
        min-height: 45px;
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }

    .POS_main_container {
        width: 17em;
        overflow-x: scroll;
        flex-wrap: inherit;
    }

    .pos_options_container {

        width: 16rem !important;

    }

}

/* .tableFixHead:hover {
    overflow-y: scroll;

} */

/* .you-may-also-like-mbl {
    min-height: 45px;
    width: 100% !important;
} */



.tableFixHead {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 190px;
}

.tableFixHead thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.tableFixHead thead th:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 16px;
    border: 1px solid #ccc;
}

th {
    background: #eee;
} */
.pos_options_container {
    height: 80px;
    display: flex;
    align-items: center;
    width: 30rem;
    overflow-x: scroll;
}