.calculator-main-container {
  width: 90%;
  background: #01426a 0% 0% no-repeat padding-box;
  box-shadow: -2px 2px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
  padding: 30px;
  aspect-ratio: 1;
  padding: 20px 15px;
}

h5.dashboard-calculator-heder {
  text-align: left;
  font: normal normal 100 20px/21px Gotham;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
p.dashboard-calculator-text {
  font: normal normal normal 16px/22px Gotham;
  letter-spacing: 0.48px;
  color: #ffffff;
  opacity: 1;
  text-align: left;
}
.dashboard-calculator-cap-ex {
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  flex-direction: row;
  display: flex;
}
.calculator-dollar-sign {
  aspect-ratio: 1;
  height: 100%;
  background: #01426a 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cal-dollar-sign {
  text-align: center;
  /* font: normal normal 50 28px/31px Gotham; */
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  position: absolute;
}
.cap-margin {
  margin-top: 4px !important;
  margin-bottom: 3px !important;
  display: flex;
  justify-content: flex-start;
  margin-left: 27%;
  font: medium medium 300 20px/21px Gotham;
  height: 20px;
  white-space: nowrap;
  font-weight: 600;
  font-family: medium !important;
}
.mt-10 {
  margin-top: 10px;
}
.total-cost {
  text-align: center;
  font: normal normal 100 40px/44px Gotham;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  margin-top: 24px;
  font-family: medium !important;
}

@media (max-width: 800px) {
  .calculator-dollar-sign {
    height: 90%;
  }

  .cap-margin {
    margin-left: 11%;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .calculator-dollar-sign {
    width: 40px;
    height: 40px;
    background: #01426a 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative !important;
  }

  .dashboard-calculator-cap-ex {
    height: 50px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    margin-top: 20px;
    width: 100%;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0px 5px;
  }

  .cap-margin {
    margin-left: 5px;
    margin-top: -5px;
    font: medium medium 300 20px/21px Gotham;
    height: 20px;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 600;
    font-family: medium !important;
  }

  .total-cost {
    text-align: center;
    font: normal normal 100 20px/22px Gotham;
    letter-spacing: 0.2px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 0px;
    font-family: medium !important;
  }

  .calculator-main-container {
    aspect-ratio: 0;
    margin-right: 10px;
  }
}
