/* step3style */

* {
  font-family: normal !important;
}

.LogoButton {
  color: black;
  font-weight: bold;
  background-color: lightgrey;
  width: 100%;
  height: auto;
}

.LogoButton:hover {
  background-color: grey;
}

.logoNToggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Option {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  opacity: 1;
  margin-left: 0.2%;
}

.formButtons {
  border: 1px solid #979797;
  border-radius: 16px;
  text-align: left;
  font: normal normal normal 14px/20px Gotham;
  letter-spacing: 0.25px;
  opacity: 1;
  margin-left: 1%;
  padding: 2px 6px;
  margin-bottom: 1%;
  margin-top: 1%;
}
.heading {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #00000013;
  border-radius: 15px 0px 0px 15px;
  align-items: center;
  font-weight: bolder;
  overflow: hidden;
}
.headingLocal {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #00000013;
  border-radius: 15px 0px 0px 15px;
  align-items: center;
  font-weight: bolder;
  overflow: hidden;
}
.OptionAla {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  opacity: 1;
  margin-left: 0.2%;
}
.headingAla {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #00000013;
  border-radius: 15px 0px 0px 15px;
  align-items: center;
  font-weight: bolder;
  overflow: hidden;
}
.formButtonsAla {
  border: 1px solid #979797;
  border-radius: 16px;
  text-align: left;
  font: normal normal normal 14px/20px Gotham;
  letter-spacing: 0.25px;
  color: #000000de;
  opacity: 1;
  margin-left: 1%;
  padding: 2px 6px;
  margin-bottom: 1%;
  margin-top: 1%;
}

.stepOne .next_btn3 {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-16) var(--unnamed-font-family-gotham);
  letter-spacing: var(--unnamed-character-spacing-1-42) !important;
  color: var(--unnamed-color-ffffff);
  text-align: center !important;
  font: normal normal 500 16px/16px Gotham;
  letter-spacing: 1.42px;
  color: #ffffff;
  opacity: 1;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 24px;
  border: 1px solid #000000;
  opacity: 1;
  width: 35%;
  height: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 4%;
  padding-left: 4%;
}

.previous_btn3 {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-16) var(--unnamed-font-family-gotham);
  letter-spacing: var(--unnamed-character-spacing-1-42) !important;
  color: var(--unnamed-color-ffffff);
  text-align: center !important;
  font: normal normal 500 16px/16px Gotham;
  letter-spacing: 1.42px;
  color: #004040;
  opacity: 1;
  width: 35%;
  height: 100%;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-000000);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 24px;
  opacity: 1;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 4%;
  padding-left: 4%;
}

/* .MuiSwitch-root {
  width: 50px;
  height: 24px;
  padding: 0px;
}

.MuiSwitch-switchBase {
  color: #f2eaea;
  padding: 1px;
}

.MuiSwitch-switchBase:checked::-ms-track {
  background-color: #23bf58;
}

.MuiSwitch-thumb {
  color: white;
  width: 22px;
  height: 22px;
  margin: 1px;
}

.MuiSwitch-track {
  border-radius: 20px;
  background-color: lightgrey;
  opacity: 1 !important;
}

.MuiSwitch-track::after {
  content: "Yes";
  left: 8px;
  color: white;
  font-size: 10px;
  position: absolute;
  top: 5px;
  bottom: 3px;
}

.MuiSwitch-track::before {
  content: "No";
  right: 7px;
  color: black;
  font-size: 10px;
  position: absolute;
  top: 5px;
  bottom: 3px;
}

.Mui-checked {
  color: #23bf58 !important;
  transform: translateX(26px) !important;
} */

/* Step3 Responsive */
.logoNToggleRs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2%;
}

.LogoButtonRs {
  color: black;
  font-weight: bold;
  background-color: lightgrey;
  width: 25%;
  height: auto;
}
.switchButtonRs {
  margin-left: 5%;
}

.OptionRs {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  opacity: 1;
  margin-left: 2%;
  overflow-x: scroll;
}
.DataScrollRs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 90%;
}
.DataScrollRs::-webkit-scrollbar {
  display: none;
}
.formButtonsRs {
  border: 1px solid #979797;
  border-radius: 16px;
  opacity: 1;
  margin-left: 8%;
  padding: 1% 4%;
  margin-bottom: 1%;
  margin-top: 1%;
  white-space: nowrap;
}
.headingRs {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #00000013;
  border-radius: 15px 0px 0px 15px;
  align-items: center;
  font-weight: bolder;
  overflow: hidden;
}
.lastButtons {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
}
.next_btn3Rs {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-16) var(--unnamed-font-family-gotham);
  letter-spacing: var(--unnamed-character-spacing-1-42) !important;
  color: var(--unnamed-color-ffffff);
  text-align: center !important;
  font: normal normal 500 16px/16px Gotham;
  letter-spacing: 1.42px;
  color: #ffffff;
  opacity: 1;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
  background: #000000 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 24px;
  opacity: 1;
  width: 25%;
  height: 50%;
}

.previous_btn3Rs {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-16) var(--unnamed-font-family-gotham);
  letter-spacing: var(--unnamed-character-spacing-1-42) !important;
  color: var(--unnamed-color-ffffff);
  text-align: center !important;
  font: normal normal 500 16px/16px Gotham;
  letter-spacing: 1.42px;
  color: #004040;
  opacity: 1;
  width: 25%;
  height: 50%;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-000000);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 24px;
  opacity: 1;
  margin-left: 0;
}

.yesOptions {
  margin: 4%;
  max-width: 200px;
  min-width: 145px;
  height: 165px;
  padding: 15%;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-ebebeb);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #ebebeb;
  opacity: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yesOptions label span {
  text-align: center;
  padding: 2px 0;
  display: block;
}

.yesOptions label input {
  /* position: absolute;
    display: none; */
  color: #fff !important;
  padding: 0px;
  font-size: 0.575rem !important;
  margin: 0em 0 0 -20.1em;
  font-size: 0.575rem !important;
}

.yesOptions .themesLabel {
  /* font-size: 1.2em;
    font-weight: bold;
    color: #808B96;
    line-height: 1.8em; */

  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-29) var(--unnamed-font-family-gotham);
  letter-spacing: var(--unnamed-character-spacing--0-14);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal 500 12px/29px "Gotham", sans-serif !important;
  letter-spacing: -0.14px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

.themesLabelActive {
  font-size: 0.75em;
  font-weight: bold;
}

.themesLabel {
  font-size: 0.75em;
  font-weight: bold;
  color: #808b96;
}

@media only screen and (min-width: 320px) {
  .customizable-convenience-img {
    width: 120px;
    height: 38px;
  }
}

@media only screen and (min-width: 768px) {
  .customizable-convenience-img {
    width: 160px;
    height: 48px;
  }
}

@media only screen and (min-width: 1024px) {
  .customizable-convenience-img {
    width: 200px;
    height: 60px;
  }
}
@media only screen and (min-width: 1900px) {
  .customizable-convenience-img {
    width: 242px;
    height: 77px;
  }
}
