/* step3style */
.LogoButton {
  color: black;
  font-weight: bold;
  background-color: lightgrey;
  width: 133px;
  height: 42px;
}

.LogoButton:hover {
  background-color: grey;
}

.logoNToggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.Option {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 77px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  opacity: 1;
  margin-left: 1px;
}

.heading {
  display: flex;
  height: 100%;
  background-color: #00000013;
  border-radius: 15px 0px 0px 15px;
  align-items: center;
  font-weight: bolder;
  overflow: hidden;
}

.formButtons {
  border: 1px solid #979797;
  border-radius: 16px;
  text-align: left;
  font: normal normal normal 14px/20px Gotham;
  letter-spacing: 0.25px;
  opacity: 1;
  margin-left: 30px;
  padding: 5px 15px;
}

.OptionAla {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 120px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  opacity: 1;
  margin-left: 1px;
}

.formButtonsAla {
  border: 1px solid #979797;
  border-radius: 16px;
  text-align: left;
  font: normal normal normal 14px/20px Gotham;
  letter-spacing: 0.25px;
  color: #000000de;
  opacity: 1;
  margin-left: 40px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.stepOne .next_btn3 {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-16) var(--unnamed-font-family-gotham);
  letter-spacing: var(--unnamed-character-spacing-1-42) !important;
  color: var(--unnamed-color-ffffff);
  text-align: center !important;
  font: normal normal 500 16px/16px Gotham;
  letter-spacing: 1.42px;
  color: #ffffff;
  opacity: 1;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 24px;
  opacity: 1;
  width: 145px;
  height: 48px;
}

.previous_btn3 {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-16) var(--unnamed-font-family-gotham);
  letter-spacing: var(--unnamed-character-spacing-1-42) !important;
  color: var(--unnamed-color-ffffff);
  text-align: center !important;
  font: normal normal 500 16px/16px Gotham;
  letter-spacing: 1.42px;
  color: #004040;
  opacity: 1;
  width: 145px;
  height: 48px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-000000);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 24px;
  opacity: 1;
}
